<h1 class = "center">Connect Four</h1>
	
<div id="#board-container">

 <table id="board" align ="center">
      <tr>				<!--Row One -->
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>      

  
     <tr>                         <!-Row Two -->
       <td></td>		
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>

     <tr>                         <!--Row Three -->
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>       			 <!--Row Four -->

    <tr>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr> 
     
    <tr>                         <!--Row Five -->
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
    </tr>

     <tr>                        <!-- Row Six -->
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>      

      <tr>                       <!-- Row Seven -->
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
      </tr>
   </table>
</div> 
<a href="#" id ="tag">
<img id ="#imageOne"  src = "https://lh3.googleusercontent.com/sbUTnmRYXqJ0cUqr2L-TPC_uilaczOSsbzMWtqXMNz42s3ATdeTVEzJcmkuTQR6tcIs=w170"/>
</a>
